fastapi==0.110.0
uvicorn==0.28.0
python-multipart
passlib[bcrypt]
bcrypt==3.2.0
PyJWT
aiosqlite
qdrant-client==1.8.0
sentence-transformers==2.5.1
pymupdf==1.23.26
groq==0.5.0
pydantic==2.6.3
python-dotenv==1.0.1
torch --index-url https://download.pytorch.org/whl/cpu
httpx<0.28.0
